*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url('images/amazon_logo.png');
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-icon{
    display: flex;
    align-items: center;
}
.address1{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
.address2{
    color: white;
    font-size: 1em;
    margin-left: 3px;
}
.search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 700px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    color: black;
}
.search:hover{
    border: 3px solid orange;
}
.language{
    font-size: 1rem;
}
.sign1, .order1{
    font-size: 0.8rem;
}
.sign2, .order2{
    font-size: 1rem;
    font-weight: 700;
}
.cart i{
    font-size: 1.8rem;
}
.cart{
    font-size: 1rem;
    font-weight: 700;
}
.blue-panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel{
    font-size: 0.9rem;
    font-weight: 700;
}
.panel-option p{
    display: inline;
    margin-left: 10px;
}
.panel-option{
    width:78%;
    font-size: 0.9rem;
}
.panel-text{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    height: 300px;
    background-image: url('images/hero_image.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-text{
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 80%;
    margin: 25px;
}
.hero-text a{
    color: #007185;
}
.shopping{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1.5rem;
    font-size: 0.8rem;
}
.box-image{
    height: 300px;
    background-size: cover;
    margin: 1rem 0px 1rem 0px;
}
.box-content{
    margin: 0px 1rem 0px 1rem;
  
}
.box-content p{
    color: #007185;
}
.content1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.item1{
    height: 260px;
    width: 97%;
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 1.5rem;
    font-size: 0.8rem;
}
.item-text{
    font-size: 1.3rem;
    font-weight: 700;
}
.item-text a{
    font-size: 0.9rem;
    font-weight: 100;
    color: #007185;
}
.item-image{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.image1{  
    height: 170px;
    width: 170px;
    background-size: cover;
    margin: 1rem 0rem 1rem 0rem;
}
.content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.item2{
    height: 370px;
    width: 97%;
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 1.5rem;
    font-size: 0.8rem;

}
.item-image2{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    height: 400px;
    
}
.image2{  
    height: 270px;
    width: 220px;
    background-size: cover;
    margin: 1rem 0rem 1rem 0rem;
}
.content3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.item3{
    height: 300px;
    width: 97%;
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 1.5rem;
    font-size: 0.8rem;

}
.item-image3{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    height: 400px;
    
}
.image3{  
    height: 200px;
    width: 160px;
    background-size: cover;
    margin: 1rem 0rem 1rem 0rem;
}
.content4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.item4{
    height: 370px;
    width: 97%;
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 1.5rem;
    font-size: 0.8rem;

}
.item-image4{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    height: 400px;
    
}
.image4{  
    height: 270px;
    width: 220px;
    background-size: cover;
    margin: 1rem 0rem 1rem 0rem;
}

footer{
    margin-top: 15px;
}
.footer-back{
    background-color: #374758;
    color: white;
    font-size: 1rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-list1{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.footer-list1 p{
    font-size: 1;
    font-weight: 600;
}
ul{
    margin:3rem 0rem 2rem 0rem;
}
ul a{
    display: block;
    font-size: 0.9rem;
    margin-top: 10px;
    color: #dddddd;
}
.footer-list2{
    color: white;
    height: 70px;
    background-color: #222f3d;
    border-top: 0.5px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url('images/amazon_logo.png');
    background-size: cover;
}
.boxes{
    display: flex;
    gap: 10px;
  font-size: 0.8rem;
}
.box1{
    border: 0.5px solid white;
    padding: 10px 10px;
    border-radius: 4px;
}
.footer-list3{
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
}
.pages{
    font-size: 0.9rem;
    padding-top: 25px;
}
.copyright{
    font-size: 0.7rem;
    padding-top: 5px;
}